@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spin 10s linear infinite;
}

.animate-spin-reverse-slow {
  animation: spin-reverse 10s linear infinite;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background: #000;
    border-radius: 5px;
    background-clip: content-box;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.eternal-gradient {
  background: -webkit-linear-gradient(left,#4502ff, #f701e2);
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mask{
  mask-type:alpha
}

pre > code {
	display: block;
	background: black;
	padding: 1.33em;
	border-radius: 0.33em;
}

pre:has(> code) {
	background: black;
	padding: 1.33em;
	border-radius: 0.33em;
}

pre:has(code) {
	background: black;
	padding: 1.33em;
	border-radius: 0.33em;
}

pre:has(code) {
  white-space: pre-wrap;
  tab-size: 3;
  overflow: auto;
}